
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  margin: 5% auto;
  text-align: center;
  background-color: rgb(255, 149, 149);
  padding: 3%;
  border: 1px dotted black;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
  background-color:rgb(240, 212, 212)
}
